extends base.pug
block scripts
    script(src='/static/app.js')
block style
    style
        include ../static/style.css
        include ../static/styleabout.css
block content
    div.container
      div.edita
        h1 ABOUT US
        div.para
            p Supu Animation website was established in the year 2002, since past 19 years we have focused on the excellence of our students and always challenged our limit. We have experienced faculties serving for the betterment of our candidates. At the end of the particular course we provide them with 5k-10k amounts of internships. 50% fees will be refunded if the following candidate passes all the scholarships provided by us.
            div.animebox
                h3 Our Animations
                div.animee-box
                    div.anime-img
                        img(src="static/img/b.png")
            div.animebox
                h3 Our Animations
                div.animee-box
                    div.anime-img
                        img(src="static/img/c.png")
            div.animebox
                h3 Our Animations
                div.animee-box
                    div.anime-img
                        img(src="static/img/d.png")