doctype html
html
  head
    link(rel="stylesheet" href="static/style.css")
    link(rel="stylesheet" href="static/styleabout.css")
    link(rel="stylesheet" href="static/stylecontact.css")
    link(rel="stylesheet" media="screen and (max-width: 1470px)" href="static/response1.css")
    title Supu Animation Academy
    block scripts
    block style
  body
    nav#navbar
        ul
         div.navedit
            div#logo
                img(src="/static/img/c.png")
                |SAI
            li #[a(href="/") Home]
            li #[a(href="/about") About]
            li #[a(href="/contact") Contact us]
            //- li #[a(href="/") services]
            //- li #[a(href="/") Class info]
    block content
    footer#footer
      div.cr | copyright @ 2021 Supu-Animation-Academy.com  |All rights reserved
      div.allfooter
        div.footeredit
            h2 contact details
               div.no1 7208547016
               div.no1 9930122095
               div.no1 9769058230
        div.footeredit
            h2 Gmail
               div.g1 sai245@gmail.com
               div.g1 sai11@gmail.com
               div.g1 sai1@gmail.com
        div.footeredit
            h2 Address
            div.footp Shop no 2/3, near sai hospital, Navghar gaon,Dahisar(east),Mumbai
        

